<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>침수관제센터</title>
    <link href="/static/style.css" rel="stylesheet"/>
    <link href="/static/reset.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var N = {{ N }};
    </script>
</head>
<body>
    <header>
        <div class="title">
            <h1>침수관제센터</h1>
        </div>
    </header>
    <div class="container">
        <p>정보를 업데이트하는 중입니다...</p>
    </div>
    <div class="cctv">
        <ul class="cctvList">
            {% for cctv in cctvs %}
                <li class="list" id="imageContainer{{ cctv.id }}">
                    {{ cctv.name }} <img height="200" id="image{{ cctv.id }}" src="" width="350" alt="{{ cctv.name }} 이미지"/>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="/static/update.js"></script>
</body>
</html>
